<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Immer es una plataforma que te permite mejorar el lazo de comunicación con el pediatra de tu hijo.">
    <meta name="author" content="Maqueta realizada por Samahara Fernández">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Paciente immer</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbarPacienteImmer">
      <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo-immer.png" alt="Logo immer"> </a>
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#chat_paciente_content" role="button" aria-expanded="false" aria-controls="chat_paciente_content"><i class="fas fa-comment-medical"><span class="badge"></span></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-calendar-alt"><span class="badge pend_success"></span></i></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-bell"><span class="badge confirm_success"></span></i></a>
        </li>
        <li class="nav-item dropdown" id="dropdownMenuPaciente">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownPacienteImmer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../assets/img/ArturoHyeong.jpg" alt="Foto perfil paciente"><span> Arturo Hyeong Sánchez</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownPacienteImmer">
            <a class="dropdown-item" href="#"><i class="fab fa-whatsapp"></i> Chat de ayuda</a>
            <a class="dropdown-item" href="/perfil-paciente.html"><i class="fas fa-user"></i> Mi perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container-fluid" id="myProfile">
      <div class="row">
        <div class="col-12 p-0">
          <div class="media user-cover-info">
            <img src="../assets/img/ArturoHyeong.jpg" class="ml-5 mr-5 mt-4 user-photo" alt="Paciente Immer">
            <div class="media-body mt-5 user-cover-info-2">
              <h4 class="mt-0">Arturo Hyeong Sánchez</h4>
              <div id="menu_profile">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-HistorialdePagos-tab" data-toggle="pill" href="#pills-HistorialdePagos" role="tab" aria-controls="pills-HistorialdePagos" aria-selected="true">Historial de pagos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-MisTarjetas-tab" data-toggle="pill" href="#pills-MisTarjetas" role="tab" aria-controls="pills-MisTarjetas" aria-selected="false">Mis tarjetas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-information-tab" data-toggle="pill" href="#pills-information" role="tab" aria-controls="pills-information" aria-selected="false">Configuración</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" id="pills-subscriptions-tab" data-toggle="pill" href="#pills-subscriptions" role="tab" aria-controls="pills-subscriptions" aria-selected="false">Suscripciones</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-10 mt-3 pb-3">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-HistorialdePagos" role="tabpanel" aria-labelledby="pills-HistorialdePagos-tab">
              <div class="col-12">
                <ul class="list-group list-titles-pay">
                  <li class="list-group-item color-immer">
                    <div class="row">
                      <div class="col-3"><p class="mb-0">Fecha</p></div>
                      <div class="col-3 text-center"><p class="mb-0">Total</p></div>
                      <div class="col-3 text-center"><p class="mb-0">Próximo pago</p></div>
                      <div class="col-3 text-center"><p class="mb-0">Método de pago</p></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="list-group list-content-pay">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-3"><p class="mb-0">01/01/2019</p></div>
                      <div class="col-3 text-center"><p class="mb-0">$150.00</p></div>
                      <div class="col-3 text-center"><p class="mb-0">01/02/2019</p></div>
                      <div class="col-3 text-center"><img src="../assets/img/logomastercard.png" alt="método de pago"></div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-3"><p class="mb-0">01/12/2018</p></div>
                      <div class="col-3 text-center"><p class="mb-0">$150.00</p></div>
                      <div class="col-3 text-center"><p class="mb-0">01/01/2019</p></div>
                      <div class="col-3 text-center"><img src="../assets/img/logovisa.png" alt="método de pago"></div>
                    </div>
                  </li>
                  <li class="list-group-item empty-list">
                    <div class="row">
                      <div class="col-12 text-center"><p class="mb-0">Sin registros</p></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-MisTarjetas" role="tabpanel" aria-labelledby="pills-MisTarjetas-tab">
              <div class="col-12">
                <ul class="list-group list-payment-method">
                  <li class="list-group-item active">
                    <div class="media">
                      <img src="../assets/img/logomastercard.png" class="align-self-start mr-3 px-5 py-4" alt="...">
                      <div class="media-body">
                        <h5 class="mt-0">· · · · 5555</h5>
                        <p class="mb-0">Nombre <strong>Arturo Hyeong Sánchez</strong></p>
                        <p class="mb-0">Vence el <strong>12/23</strong></p>
                        <div class="col-12 text-right p-0">
                          <button type="button" class="btn cancel" data-dismiss="modal">Eliminar tarjeta</button>
                          <!-- <button type="button" class="btn save">Seleccionar como principal</button> -->
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <img src="../assets/img/logovisa.png" class="align-self-start mr-3 px-5 py-4" alt="...">
                      <div class="media-body">
                        <h5 class="mt-0">· · · · 5555</h5>
                        <p class="mb-0">Nombre <strong>Arturo Hyeong Sánchez</strong></p>
                        <p class="mb-0">Vence el <strong>12/23</strong></p>
                        <div class="col-12 text-right p-0">
                          <button type="button" class="btn cancel" data-dismiss="modal">Eliminar tarjeta</button>
                          <button type="button" class="btn save">Seleccionar como principal</button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item new-card">
                    <div class="media">
                      <div class="media-body text-right mt-0">
                        <button class="btn save" type="submit">Añadir nueva tarjeta</button>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item empty-list">
                    <div class="media">
                      <div class="media-body text-center">
                        <p class="mb-2">No tienes tarjetas registradas</p>
                        <button class="btn save" type="submit">Añadir tarjeta</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-information" role="tabpanel" aria-labelledby="pills-information-tab">
              <div class="col-12">
                <div class="information-content">
                  <div class="row">
                    <div class="col-menulateral">
                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-cuentaUsuario-tab" data-toggle="pill" href="#v-pills-cuentaUsuario" role="tab" aria-controls="v-pills-cuentaUsuario" aria-selected="false">Cuenta</a>
                        <!-- <a class="nav-link" id="v-pills-misDatos-tab" data-toggle="pill" href="#v-pills-misDatos" role="tab" aria-controls="v-pills-misDatos" aria-selected="true">Mis datos</a> -->
                        <a class="nav-link" id="v-pills-misHijos-tab" data-toggle="pill" href="#v-pills-misHijos" role="tab" aria-controls="v-pills-misHijos" aria-selected="false">Mis hijos</a>
                        <a class="nav-link" id="v-pills-notificaciones-tab" data-toggle="pill" href="#v-pills-notificaciones" role="tab" aria-controls="v-pills-notificaciones" aria-selected="false">Notificaciones</a>
                      </div>
                    </div>
                    <div class="col-contenidomenu">
                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-cuentaUsuario" role="tabpanel" aria-labelledby="v-pills-cuentaUsuario-tab">
                          <div class="col-12 mb-3">
                            <div class="row">
                              <div class="col-10 p-0">
                                <h6 class="color-immer">Contacto principal</h6>
                              </div>
                              <div class="col-2 text-right p-0">
                                <button type="button" class="btn color-immer p-0"><i class="fas fa-pencil-alt"></i></button>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <form>
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Nombre</p>
                                  <input type="text" class="form-control mb-3" placeholder="Nombre">
                                  <p>Arturo Hyeong Sánchez</p>
                                </div>
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Teléfono</p>
                                  <input type="text" class="form-control mb-3" placeholder="Teléfono">
                                  <p>55 13 01 21 08</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-12">
                                  <p class="mb-0 color-immer">Correo</p>
                                  <input type="text" class="form-control mb-3" placeholder="Correo electrónico">
                                  <p>immer.medical.paciente@gmail.com</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-12 text-right">
                                  <button type="button" class="btn cancel" data-dismiss="modal">Cancelar</button>
                                  <button type="button" class="btn save">Guardar</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <!-- <div class="tab-pane fade" id="v-pills-misDatos" role="tabpanel" aria-labelledby="v-pills-misDatos-tab">...</div> -->
                        <div class="tab-pane fade" id="v-pills-misHijos" role="tabpanel" aria-labelledby="v-pills-misHijos-tab">
                          <div class="col-12 mb-3">
                            <div class="row">
                              <div class="col-12 p-0">
                                <h6 class="color-immer">Hijos Registrados</h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <form class="mb-3">
                              <div class="row">
                                <div class="col-12 text-right">
                                  <button type="button" class="btn color-immer p-0"><i class="fas fa-pencil-alt"></i></button>
                                </div>
                                <div class="col-12">
                                  <p class="mb-0 color-immer">Nombre</p>
                                  <input type="text" class="form-control mb-3" placeholder="Nombre">
                                  <p>Rodrigo Hyeong Hernández</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Fecha de nacimiento</p>
                                  <input type="text" class="form-control mb-3" placeholder="Fecha de nacimiento">
                                  <p>06/12/2016</p>
                                </div>
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Sexo</p>
                                  <input type="text" class="form-control mb-3" placeholder="Sexo">
                                  <p>Masculino</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Grupo sanguíneo</p>
                                  <input type="text" class="form-control mb-3" placeholder="Grupo sanguíneo">
                                  <p>O-</p>
                                </div>
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Aseguradora</p>
                                  <input type="text" class="form-control mb-3" placeholder="Aseguradora">
                                  <p>FCO</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-12 text-right">
                                  <button type="button" class="btn cancel" data-dismiss="modal">Cancelar</button>
                                  <button type="button" class="btn save">Guardar</button>
                                </div>
                              </div>
                            </form>
                            <form class="mb-3">
                              <div class="row">
                                <div class="col-12 text-right">
                                  <button type="button" class="btn color-immer p-0"><i class="fas fa-pencil-alt"></i></button>
                                </div>
                                <div class="col-12">
                                  <p class="mb-0 color-immer">Nombre</p>
                                  <input type="text" class="form-control mb-3 d-none" placeholder="Nombre">
                                  <p>Valeria Hyeong Hernández</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Fecha de nacimiento</p>
                                  <input type="text" class="form-control mb-3 d-none" placeholder="Fecha de nacimiento">
                                  <p>03/11/2014</p>
                                </div>
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Sexo</p>
                                  <input type="text" class="form-control mb-3 d-none" placeholder="Sexo">
                                  <p>Femenino</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Grupo sanguíneo</p>
                                  <input type="text" class="form-control mb-3 d-none" placeholder="Grupo sanguíneo">
                                  <p>O+</p>
                                </div>
                                <div class="col-12 col-md-6">
                                  <p class="mb-0 color-immer">Aseguradora</p>
                                  <input type="text" class="form-control mb-3 d-none" placeholder="Aseguradora">
                                  <p>FCO</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-md-12 text-right">
                                  <button type="button" class="btn cancel" data-dismiss="modal">Cancelar</button>
                                  <button type="button" class="btn save">Guardar</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-notificaciones" role="tabpanel" aria-labelledby="v-pills-notificaciones-tab">...</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="tab-pane fade" id="pills-subscriptions" role="tabpanel" aria-labelledby="pills-subscriptions-tab"></div> -->
          </div>
        </div>
      </div>
    </div>

    <script src="https://kit.fontawesome.com/a79f95d4bd.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/app.js" type="text/javascript"></script>
  </body>
</html>
